<div class="row">
    <div class="col-12 mt-2 mb-2">
        <button class="btn btn-primary float-end" (click)="linkToItem()">Создать заметку</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12 mb-2 p-2" *ngFor="let note of notes">
        <div class="card  h-100">
            <div class="card-body">
                <h5 class="card-title">{{ note.noteTitle }}</h5>
                <p class="card-text">{{ note.noteText }}</p>
                <div class="card-text">Тип: {{ find(note.noteType) }}</div>
                <div class="card-date">Создание: {{ note.noteDate }}</div>
                <div class="card-date" *ngIf="note.noteDateUpdate != null">Редактрирование: {{ note.noteDateUpdate }}</div>
                <button class="btn btn-primary btn-sm btn-block" type="button" (click)="linkToItem(note.id)">
                    Редактировать
                </button>
            </div>
        </div>
    </div>
</div>